node_modules
.DS_Store
dist
*.local
thumbs.db
.eslintcache
packages/preload/exposedInMainWorld.d.ts
build
.rollup.cache

*/**/tsconfig.tsbuildinfo
*/settings.local.json
/docs/*
packages/socket/html/*
