node_modules
.DS_Store
dist
*.local
thumbs.db
.eslintcache
packages/preload/exposedInMainWorld.d.ts
build
.rollup.cache
FDC3-Sail.pem
tsconfig.tsbuildinfo
FDC3-Sail.pem

packages/sail-desktop-agent/coverage
test-results.xml
cucumber-report.html
.vite
.vite-cache
.cursor
.nyc_output/
docs/
AGENTS.md
